.main {
  margin-top: 100px;
  background-image: url("../../Assets/background.png");
  padding-bottom: 50px;
  padding-top: 50px;
}
.main h2 {
  font-weight: 450;
  font-size: 30px;
}
.main h2 span {
  font-weight: 700;
  font-size: 30px;
}
.dropZone {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.dropZoneContainer {
  background-color: #fff0e8 !important;
  border-color: transparent !important;
  border-radius: 30px !important;
  min-height: 150px !important;
}
.textContainer {
  color: #ff6172 !important;
  position: absolute !important;
  text-align: center !important;
  top: 75px !important;
  /* margin-left: 35px !important; */
  width: 100% !important;
  font-size: 19px !important;
  font-weight: 600 !important;
}
.dropIcon {
  color: white !important;
  position: absolute !important;
  display: block !important;
  text-align: center !important;
  top: 30px;
  /* margin-left: -30px; */
  width: 100% !important;
  /* left: 180px !important; */
}
.chooseFileButton {
  border-radius: 50px !important;
  background-color: #ff4f63 !important;
  color: white !important;
  width: 250px !important;
  font-size: 17px !important;
  text-transform: none !important;
  margin-top: 30px !important;
}
.bottomText {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
}
.fileNameH {
  /* font-size: 10px !important; */
  /* margin-top: -100px !important;
  line-height: 20px;
  margin-left: 130px !important; */
  margin-left: 130px;
  margin-top: 0px;
}
@media only screen and (max-width: 480px) {
  .dropZone {
    width: 90%;
  }
}
@media only screen and (max-width: 420px) {
  .dropZone {
    display: none;
  }
  .mobileUpload {
    background-color: #fff0e8 !important;
    border-color: transparent !important;
    border-radius: 30px !important;
    min-height: 150px !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .chooseFileButton {
    border-radius: 50px !important;
    background-color: #ff4f63 !important;
    color: white !important;
    width: 70% !important;
    font-size: 17px !important;
    text-transform: none !important;
    margin-top: 30px !important;
  }
}
