.label {
  text-align: left;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #989797;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
}
.form {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 100px !important;
  /* [theme.breakpoints.up("md")]: {
      width: "30%",
    },
    [theme.breakpoints.up("sm")]: {
      //   width: "30%",
    }, */
}
.signup {
  border-radius: 50px !important;
  background-color: #ff4f63 !important;
  color: white !important;
  width: 200px !important;
  font-size: 14px !important;
  text-transform: lowercase !important;
  margin-top: 30px !important;
  /* [theme.breakpoints.up("sm")]: {
      width: "150px",
    }, */
}
.bottomText {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 13px;
}
@media only screen and (max-width: 1200px) {
  .form {
    width: 50%;
  }
}
@media only screen and (max-width: 820px) {
  .form {
    width: 80%;
  }
}
@media only screen and (max-width: 420px) {
  .signup {
    width: 70% !important;
  }
}
