.main {
  margin-top: 120px;
  margin-bottom: 50px;
}
.cheque {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.mobileButton {
  color: #ff4f63 !important;
  height: 80%;
}
.mobileIcon {
  font-size: 70px;
}
.iconButton {
  color: #ff4f63 !important;
  height: 0px;
}
.icon {
  font-size: 35px;
}
.cheque h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 450;
}
.secondRow {
  margin-left: 15px;
}
.secondRow h2 {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}
.secondRow h2 span {
  font-size: 14px;
  text-align: center;
  font-weight: 450;
}

.date {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: 13px;
  color: #6e6c6c;
}
.link {
  font-size: 18px;
  font-weight: 400;
  margin: 13px;
  text-decoration: underline;
  color: #6e6c6c;
}
.mobileTable {
  display: none;
}
.mobileTitle {
  text-align: left;
  color: #3b4848;
  font-size: 35px;
  font-weight: 400;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.border {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #fff0e8;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.exportAll {
  background-color: #ff4f63 !important;
  color: white !important;
  text-decoration: none !important;
  margin-top: 30px;
}
@media only screen and (max-width: 480px) {
  .mobileTable {
    display: block;
  }
  .cheque {
    display: none;
  }
  .main {
    margin-top: 60px;
  }
}
